
/* 게시판 목록 */
.board {
    display: flex;
}

.board-all{
    height: 720px;
}

.boardArea {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    border: solid 0.14rem #ddd;
    border-radius: 11px;
}

.boardArea li p {
    line-height: normal;
    font-size: 16px;
    text-decoration: none;
}

.boardArea h5{
    color: #FF9B19;
    margin-block-start: 1.22;
    margin-block-end: 1.22em;
}

.boardArea li h5,
p {
    margin-left: 70px;
    cursor: pointer; 
}

.boardArea li {
    border-bottom: 1px solid #efefef;
    height: 66px;
    line-height: 0.9rem;
    list-style: none;
}

.board .category {
    margin-bottom: 20px;
    width: 55px;
    height: 55px;
    border: solid 1px #ddd;
    border-radius: 11px;
    position: absolute;
}

.category img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
}

.board-list .post-info {
    color: var(--icon-color);
    font-size: 0.8rem;
}

/* pagination */
.paginationArea{
    margin: 10px;
    text-align: center;
}
.pagination {
    list-style-type: none;
    display: inline-block;
}

.pagination li {
    cursor: pointer;
    text-align: center;
    color: var(--icon-color);
    float: left;
    padding: 8px 16px;
}

.pagination li.active {
    background-color:var(--hover-color);
    color: white;
    border-radius: 5px;
}

.pagination li:hover:not(.pageCtrl) {
    background-color: #ddd;
    border-radius: 5px;
}

.pagination .font-awesome {
    color: var(--hover-color);
}

.writeArea h3,
input {
    display: inline;
}

.input_container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.buttonArea input {
    float: right;
    margin: 1.25rem;
    height: 1.875rem;
    background-color: var(--accent-color);
    color: #efefef;
    /* make the borders more round */
    border-radius: 30px;
    border-style: none;
    width: 6.25rem;
}

.inputArea {
    height: 1.3rem;
    width: 15rem;
    margin-left: 3.438rem;
}

.selectArea {
    margin-left: 1.25rem;
}

.textArea {
    margin-bottom: 1.25rem;
    margin-left: 1.125rem;
    resize: none;
    width: 80%;
    height: 500px
}

.inputArea, .selectArea, .textArea{
    padding: 0;
    border: solid 0.14rem #ddd;
    border-radius: 11px;
}


/* 반응형 */
@media screen and (max-width:500px) {
    .board {
        display: block;
    }

    .board .boardArea {
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .board-all{
        height: 100%;
    }

    .paginationArea {
        display: none;
    }
}