body {
    overflow-x: hidden;
    background-color: #fff;
    margin: 0 auto;
    height: 100vh;
}

main {
    position: relative;
    margin-top: 3.2rem;
    margin: 1.6rem;
    padding: 0 1.6rem;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--border-color);
}

a {
    padding: 0;
    text-decoration: none;
}

main ol {
    padding: 0;
    height: 52rem;
}

.title {
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
}

.write-button {
    position: absolute;
    top: 1rem;
    right: 0;
}

.write-button button {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    margin-right: 14px;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 12px;
    border-style: none;
}

.write-button button:hover {
    background-color: var(--hover-color);
    transition: background-color, 750ms;
    cursor: pointer;
}

.list-item {
    margin: 1.2rem 0;
    list-style: none;
    display: flex;
    min-width: 100%;
}

.category img {
    display: block;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    width: 6rem;
    height: 6rem;
}

.list-detail {
    padding: 0 1.6rem;
    width: 80%;
    line-height: 1.4rem;
}

.list-detail a {
    display: flex;
    flex-direction: column;
}

.list-detail strong,
.list-detail p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-detail strong {
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--font-color);
}

.list-detail p {
    font-size: 0.8rem;
    color: var(--font-color);
}

.pagination {
    margin: 1rem 0rem;
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination li {
    border: 1px solid var(--border-color);
    padding: 0.8rem;
}

.pagination a {
    font-size: 1rem;
    color: var(--font-color);
}

.pagination .selected {
    color: var(--accent-color);
    font-weight: 700;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    main {
        margin: 3.2rem;
    }

    .list-detail {
        padding: 0 1.6rem;
        width: 90%;
        line-height: 1.4rem;
    }

    .list-detail strong {
        margin: 0;
        line-height: normal;
        font-size: 1.4rem;
    }

    .list-detail p {
        font-size: 1rem;
        padding-top: 0.2rem;
    }

    main ol {
        height: 50rem;
    }

    a {
        padding-top: 0.8rem;
    }

    .pagination {
        margin: 3rem 0rem;
    }

    .pagination li {
        width: 4rem;
        height: 3rem;
        text-align: center;
    }

    .pagination a {
        font-size: 1.2rem;
    }
}

/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
    main {
        margin: 3.2rem;
    }

    .list-item {
        margin-top: 1.5rem 0;
    }

    .list-detail {
        padding: 0 1.6rem;
        width: 90%;
        line-height: 1.4rem;
    }

    .list-detail strong {
        margin: 0;
        line-height: normal;
        font-size: 1.6rem;
    }

    .list-detail p {
        font-size: 1.2rem;
        padding-top: 0.2rem;
    }

    main ol {
        height: 55rem;
    }

    a {
        padding-top: 0.8rem;
    }

    .pagination {
        margin: 5rem 0rem;
    }

    .pagination li {
        width: 5rem;
        height: 3rem;
        text-align: center;
    }

    .pagination a {
        font-size: 1.6rem;
    }

    .write-button {
        position: absolute;
        top: auto;
        bottom: -5rem;
        right: 0;
    }

    .write-button button {
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
    }

}
