body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right,
            var(--main-color),
            var(--accent-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    padding: 100px 225px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.app-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border-color);
    padding-right: 32px;
}


.form {
    padding: 0 25px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    position: absolute;
    top : 0px;
    left: 50%;
    transform: translateX(100%);
    color: var(--main-color);
    font-weight: 700;
    text-align: center;
}

.input-container {
    padding-left: 20px;
    margin-bottom: 1.7rem;
}

.form input {
    color: var(--icon-color);
    padding-bottom: 8px;
    border-style: none;
    border-bottom: 1px solid var(--border-color);
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 12px;
}

#userConfirmPw, #userPw, #userId {
    margin-top: 16px;
}

.form label {
    display: none;
}

.button-area {
    margin-top: 32px;
}

.button-area button {
    font-size: 14px;
    padding: 10px 23px;
    margin-right: 14px;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 12px;
    border-style: none;
}

.button-area button:hover {
    background-color: var(--hover-color);
    color : #fff;
    transition: background-color, 750ms;
    cursor: pointer;
}

.error-text {
    display: block;
    color: var(--err-mesaage-color);
    font-size: 14px;
    margin-top: 10px;
}

.clear-text {
    display: block;
    color: var(--clear-message-color);
    font-size: 14px;
    margin-top: 10px;
}

